
<ion-header>

  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="login-content" padding>
  <div class="login-box" *ngIf="showLogin">
    
    <form (ngSubmit)="VerifyUser()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item name="userEmail">
              <ion-input type="text" placeholder="Username" [(ngModel)]="userLofin" [ngModelOptions]="{standalone:true}" required ></ion-input>
            </ion-item>
            
            <ion-item>
              <!--[(ngModel)]="registerCredentials.password"-->
              <ion-input type="password" placeholder="Password" [(ngModel)]="userPassword" [ngModelOptions]="{standalone:true}" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Login</button>
        </ion-col>
      </ion-row>
      
    </form>
    
      <ion-row>
          <ion-col class="reg-col">
            <button ion-button class="reg-btn" full type="submit" (click)='openReg();'>Regsiter New Account</button>
          </ion-col>
      </ion-row>

  </div>
  
  <div class="reg-box" *ngIf="showReg">
    <form (ngSubmit)="createUser()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              
              <ion-item>
                <ion-input type="text" placeholder="Username" [(ngModel)]="newUser" [ngModelOptions]="{standalone:true}" required></ion-input>
              </ion-item>
              
              <ion-item>
                <!--[(ngModel)]="registerCredentials.password"-->
                <ion-input type="password" placeholder="Password" [(ngModel)]="password1" [ngModelOptions]="{standalone:true}"  required></ion-input>
              </ion-item>

              <ion-item>
                  <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="password2" [ngModelOptions]="{standalone:true}" required></ion-input>
              </ion-item>

              <ion-item>
                  <ion-input type="text" placeholder="Company Name" [(ngModel)]="companyName" [ngModelOptions]="{standalone:true}"  required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="create-col">
            <button ion-button class="create-btn" full type="submit">Create</button>
          </ion-col>
        </ion-row>

      </form>

      <ion-row>
          <ion-col class="back-col">
            <button ion-button class="back-btn" full type="submit" (click)='goBack();'>Back</button>
          </ion-col>
        </ion-row>

    </div>

</ion-content>
