<ion-header>
  <ion-navbar>
    <ion-title>{{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <button id="titleButton" ion-button color="secondary" (click)="swap()">
        {{titleButton}}
      </button>

  <div class="debit-box" *ngIf="showDebit">
    <ion-list >

      <ion-item *ngFor="let item of itemsList | async">
          <ion-col>{{item.title}}</ion-col>
          <ion-col>{{item.amount}}</ion-col>
          <ion-col>
            <button ion-button color="secondary" (click)="showDocument()">
             Show Document
            </button>
          </ion-col>
          
        </ion-item>
    </ion-list>
  </div>

  <button ion-button color="secondary" (click)="addEntry()" *ngIf="showCredit">
    Credit This Account
  </button>

</ion-content>
