page-show-photo {

    .photo-content {

        .button{
            margin-left: 30%;
            margin-right: 30%;
            width: 40%;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            width: 50%;
        }
        

    }

}
